#signup {
	-fx-background-image: url("/images/background.jpg");
}
#basket {
	-fx-background-image: url("/images/background.jpg");
}
#myinfoMain {
	-fx-background-image: url("/images/background.jpg");
}
#myinfo {
	-fx-background-image: url("/images/background.jpg");
}
#orderstatus {
	-fx-background-image: url("/images/background.jpg");
}